body{
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #05003d;
}
#one{
    height: 100vh;
}
.join{
    font-size: 12px;
    padding: 0.6rem 2.23rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.nav-item{
    padding: 0px 15px 0px 15px;
}
.nav-item:last-child{
    padding: 0px 0px 0px 15px;
}
.landing-box {
    padding-top: 6rem;
    font-family: 'Raleway', sans-serif;
}
.landing-title{
    font-weight: 700;
    margin-top: 40px;
}
.landing-title span{
    line-height: 40px;
}
.landing-paragraph{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.cover-img{
    height: 370px;
}
.two{
    background-color: #F8F8FE;
    padding-bottom: 90px;
}
.two-title{
    margin-bottom: 25px;
}
.link, .link:hover{
    color: hsl(170, 45%, 43%);
}
.link img{
    width: 24px;
}
.card{
    font-family: 'Raleway', sans-serif;
}
.card-text{
    font-size: 14px;
    line-height: 25px;
}
.card-details h6{
    margin-left: 60px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0;
}
.card-details p{
    font-size: 12px;
    margin-left: 60px;
}
#three{
    font-family: 'Raleway', sans-serif;
    padding: 70px 0px 70px 0px;
    color: #fff;
    background-color: #575989;
}
#three h2{
    padding-right: 60px;
}
#three p{
    margin-right: 130px;
}
.start{
    font-size: 12px;
    padding: 0.8rem 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.second-form input{
    width: 90%;
}
#four{
    padding: 90px 0px 90px 0px;
    background-color: #07043b;
    color: #fff;
}
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
ul.social-network em:hover, .circle:hover{
    color: #6b97ff;
    border-color: #6b97ff;
}
ul.social-network i.fab {
    display: inline-block;
    border-radius: 60px;
    padding: 0.5em 0.6em; 
    font-size: 20px; 
}
.list-unstyled li{
    padding-top: 15px;
}
.footer-head{
    padding-top: 20px;
}
.logo{
    width: 250px;
}
.footer-list:first-child img {
    margin-right: 10px;
}
.circle {
    display: inline-block;
    border-radius: 100%;
    border-width: thin;
    border-style: solid;
    border-color: #fff;
    width: 2rem;
    height: 2rem;
    margin: auto .25rem;
    text-align: center;
  }
  
  .circle em {
    margin: 6.9px;
  }
  .mob-curve{
    display: none;
  }
@media (min-width:361px) and (max-width: 992px){
    #one{
        height: auto;
        padding: 0px 0px 50px 0px;
    }
    .navbar-nav{
        display: -webkit-box;
    }
    .cover-img{
        height: 300px !important;
    }
    .landing-title, .landing-paragraph{
        text-align: center;
    }
    .landing-title{
        font-size: 28px;
        margin: 40px 30px 20px 30px;
    }
    .landing-paragraph{
        margin: 0px 30px 20px 30px;
    }
    .first-form{
        text-align: center;
    }
    .first-form input{
        width: 80%;
        margin: 0 auto;
    }
    .join{
        padding: 0.7rem 8.7rem;
    }
    .card {
        margin: 0 auto;
    }
    .link{
        display: block;
        text-align: center;
    }
    #three h2{
        padding-right: 0px;
    }
    #three h2 ,#three p{
        text-align: center;
        margin: 0px 40px 30px 40px;
    }
    .second-form{
        text-align: center;
    }
    .second-form input{
        width: 85%;
        margin: 0 auto;
    }
    .start{
        padding: 0.9rem 8.4rem;
    }
    #four{
        padding: 90px 0px 40px 0px;
    }
    .footer-head{
        padding-top: 0px;
    }
    .footer-list{
        padding-top: 30px;
    }
    ul.social-network{
        text-align: center;
        display: block;
    }
}

@media (min-device-height : 568px) 
   and (min-device-width : 320px) 
   and (max-device-width : 768px) 
   and (-webkit-min-device-pixel-ratio: 2){
    #one{
        height: auto;
        padding: 0px 0px 50px 0px;
    }
    .navbar-nav{
        display: -webkit-box;
    }
    .nav-item {
        padding: 0px 5px 0px 5px;
    }
    .nav-link{
        font-size: 14px;
    }
    .navbar-brand img{
        height: 20px !important;
    }
    .cover-img{
        height: 220px !important;
    }
    .card{
        width: 15rem !important;
        margin: 0 auto;
    }
    .desk-curve{
        display: none;
    }
    .mob-curve{
        display: block;
    }
    #three h2{
        padding-right: 0px;
    }
    #three h2 ,#three p{
        text-align: center;
        margin: 0px 10px 25px 10px;
    }
    .landing-box, #two, #three{
        text-align: center;
    }
    .logo{
        width: 200px;
    }
    ul.social-network{
        text-align: center;
        display: block;
    }
    #four{
        padding: 90px 0px 40px 0px;
    }
    .footer-head{
        padding-top: 0px;
    }
    .footer-list{
        padding-top: 20px;
    }
    .join{
        padding: 0.7rem 6.7rem;
    }
    .start{
        padding: 0.7rem 5.3rem;
    }
}